
<!-- {{metadata|json}} -->

<div class="leftPanel">
    <!-- <div class="input" id="input" >{{screenValue}}</div> -->

    <div class="numbers">
      <div (click)="handleOnClick6()">{{metadata6.label}}</div>
      <div (click)="handleOnClick7()">{{metadata7.label}}</div>
      <div (click)="handleOnClick8()">8</div>
      <div (click)="handleOnClick9()">9</div>
     
    </div>
    <div class="numbers">
      <div (click)="handleOnClick2()">{{metadata2.label}}</div>
      <div (click)="handleOnClick3()">{{metadata3.label}}</div>
      <div (click)="handleOnClick()">{{metadata.label}}</div>
      <div (click)="handleOnClick5()">{{metadata5.label}}</div>
      <!-- <div (click)="handleOnClick6()">{{metadata6.label}}</div> -->


    </div>
    <div class="numbers">
      <div (click)="handleOnClick0()">0</div>
      <div (click)="handleOnClick1()">{{metadata1.label}}</div>
      <div (click)="onClickdot()">.</div>   
      <div id="clear" (click)="handleOnClear()">C</div>

      <!-- <div (click)="handleOnClick2()">{{metadata2.label}}</div>
      <div (click)="handleOnClick3()">{{metadata3.label}}</div> -->
       

    </div>
    <!-- <div class="numbers">
      <div (click)="handleOnClick0()">0</div>
      <div (click)="onClickdot()">.</div>   
      <div id="clear" (click)="handleOnClear()">C</div>
    </div> -->
  </div>

